# Ignore files for distribution archives.
/.logs           export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/.phpunit.cache  export-ignore
/phpcs.xml       export-ignore
/phpmd.xml       export-ignore
/phpstan.neon    export-ignore
/renovate.json   export-ignore
/tests           export-ignore
